body {
  background:#B0E0E6;
  background-size: cover;

  height: auto;
}
.zagl {
  font-family: segoe script;
  font-size: 4em;
  text-align: center;
  color: red;

  margin-top: 10%;
  

}
h2{
  font-family: segoe script;
  font-size: 1.5em;
  text-align: left;
  color: #0000FF;
  transform: rotate(30);
  margin-top: 10%;
  margin-left: 5%;

}
p.into {
   font-family: segoe script;
  font-size: 1.5em;
  text-align: left;
  color: #0000FF;
  transform: rotate(30);
  margin-top: 10%;
  margin-left: 3%;
  margin: 5%;
	
}
.info {
  width: 60%;
  height: auto;
  border: 5px solid red;
  margin-top: 5%;
  

  margin-bottom: 4%;
  border-radius: 25px;
}
.vih {
    width: 3%;
    height: auto;
    margin-left: 2%;
    
}

    
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }        
body.abi {
    font-family: 'Open Sans', sans-serif;
	background:rgb(4, 165, 216);
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    padding-top:100px;
}
p.love{
  color:rgba(255,255,255,.5);
  width:100%;
  margin: 100px auto;
  font-weight:300;
  text-align:center;
  font-family: segoe script;
  font-size: 1.5em;
  text-align: left;
  color: #0000FF;
  transform: rotate(30);
  margin-top: 10%;
  margin-left: 20%;
     
}

a{
  text-decoration:none;
  color:#fff;
}
.container{
    max-width: 32em;
	margin: 0 auto;
	padding: 1.2em; 
}
        
/* Базовый стиль формы */
form {
    margin: 0 auto;
    max-width: 95%;
    padding: 30px 30px 6px 30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}
/* Поле сообщения */
textarea{
	background: rgba(255, 255, 255, 0.4); 
    width: 100%;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;
    color:#fff;
    padding-left:25px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}
/* Поля ввода */
input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;    
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}
input[type=submit] {
    cursor:pointer;
}
input.name {
	  background: rgba(255, 255, 255, 0.4); 
	  padding-left:25px;
}
input.email {
	  background: rgba(255, 255, 255, 0.4);
	  padding-left:25px;
}
input.message {
	  background: rgba(255, 255, 255, 0.4);
	  padding-left:25px;
}
::-webkit-input-placeholder {
	  color: #fff;
}
:-moz-placeholder{ 
    color: #fff; 
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {  
	color: #fff; 
}
input:focus, textarea:focus { 
	background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
	overflow: hidden; 
}
/* Стили для кнопки отправить */
.btn_1 {
	width: 138px;
	height: 44px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border-radius: 4px;
	float:right;
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}
.btn_1:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
    background: -webkit-linear-gradient(top, #77b2b0, #416b68);
    background: -moz-linear-gradient(top, #77b2b0, #416b68);
    background: -ms-linear-gradient(top, #77b2b0, #416b68);
    background: -o-linear-gradient(top, #77b2b0, #416b68);
    background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
    color: #fff;
 }
.btn_1:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #333333;
    background: #ffCC00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffCC00), to(#ff6600));
    background: -webkit-linear-gradient(top, #ffcc00, #ff6600);
    background: -moz-linear-gradient(top, #ffcc00, #ff6600);
    background: -ms-linear-gradient(top, #ffcc00, #ff6600);
    background: -o-linear-gradient(top, #ffcc00, #ff6600);
    background-image: -ms-linear-gradient(top, #ffcc00 0%, #ff6600 100%);
    color: #fff;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    outline: none;
}
.ramka-7 {
  margin-left: 40%;
  width: 17%;
  margin-right: 32%;
  margin-top:6%;
  
  border-radius: 17px;
  text-align: center;
  margin-text
  font-family: segoe script;
  font-size: 1.5em;
  text-align: left;
  color: #0000FF;
}

