html,
body {
  background:#B0E0E6;
  background-size: cover;

  height: auto;
}

a {
  text-decoration: none;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 20%;
}

.menu__link {
  display: inline-block;
  color: #2d6c90;
  text-decoration: none;
  position: relative;
  padding: 14px 0;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.040em;
}

.menu__link svg {
  fill: none;
  stroke: red;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 60px);
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  z-index: -1;
}

.menu__link--active svg {
  stroke: #ff4c4c;
}

.menu__link--active svg,
.menu__link:hover svg {
  stroke-dashoffset: 0;
  opacity: 1;
  -webkit-transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.zagl {
  font-family: segoe script;
  font-size: 4em;
  text-align: center;
  color: red;
  transform: rotate(30);
  margin-top: 10%;
  

}
.submenu {
   width: 20%; 
   height: 5%;
  text-decoration: none;
  
  outline: none;
;
  color: white;
  padding: 1% 2%;
  margin: 1% 2%;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
}
.submenu:hover {background-position: right center;}
.submenu:focus
{
   color: white;  
}

.divBox {
  margin-left: 37%;
    width: 100%;
}
.vih {
    width: 3%;
    height: auto;
    margin-left: 2%;
}
h1{
  font-family: segoe script;
  font-size: 2em;
  text-align: left;
  color: #0000FF;
  transform: rotate(30);
  margin-top: 10%;
  margin-left: 3%;

}
.login-form {
  width: 100%;
  padding: 2em;
  position: relative;
  border-radius: 3px;
  border: 1px solid #b12816;
  box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.5);
  background: #1E90FF;
  background: -webkit-gradient(left top, right top, color-stop(0%, #bc3220), color-stop(29%, #db4a37), color-stop(50%, #db4a37), color-stop(71%, #db4a37), color-stop(100%, #bc3220));
  background: -webkit-linear-gradient(left, #bc3220 0%, #db4a37 29%, #db4a37 50%, #db4a37 71%, #bc3220 100%);
  background: linear-gradient(to right, #bc3220 0%, #db4a37 29%, #db4a37 50%, #db4a37 71%, #bc3220 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc3220', endColorstr='#bc3220', GradientType=1 );
  margin-left: auto;
  margin-right: auto;
}

.login-form:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .login-form {
    width: 50vw;
    max-width: 15em;
  }
}

.flex-row {
  margin-bottom: 1em;
}

.logo {
  margin-bottom: 50px;
  color: #fff;
  width: 100%;
}

.logo h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 80%;
  text-shadow: -1px -2px #a91400, 0 1px 0 #ff7e6d;
}

.lf--input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em 2em;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: Open Sans, Arial, sans-serif;
  text-shadow: 1px 1px 1px #232323;
  border-radius: 25px;
  background: #bc3220;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #bc3220), color-stop(100%, #fa5846));
  background: -webkit-linear-gradient(top, #bc3220 0%, #fa5846 100%);
  background: linear-gradient(to bottom, #bc3220 0%, #fa5846 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc3220', endColorstr='#fa5846', GradientType=0 );
}
.lf--input:focus {
  outline: none;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.lf--submit {
  display: block;
  padding: 1em;
  width: 100%;
  box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.5);
  background: #ffbf00;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffbf00), color-stop(100%, #fa9f17));
  background: -webkit-linear-gradient(top, #ffbf00 0%, #fa9f17 100%);
  background: linear-gradient(to bottom, #ffbf00 0%, #fa9f17 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf00', endColorstr='#fa9f17', GradientType=0 );
  border: 0;
  border-radius: 30px;
  color: #fff;
  margin-top: 50px;
  cursor: pointer;
  font-size: 0.85em;
  font-weight: 500;
  text-shadow: -1px -1px #b86200, 0 1px 0 #ecb76b;
}
.lf--submit:focus {
  outline: none;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.lf--forgot {
  margin-top: 2em;
  color: #ffffff;
  font-size: .5em;
  text-align: center;
  float: left;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

::-moz-placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 100%;
}
h1.zaglo {
  font-family: segoe script;
  font-size: 2em;
  text-align: center;
  color: #B0E0E6;
  transform: rotate(30);
  margin-top: 10%;
    
}
body.info {
  background:#B0E0E6;
  background-size: cover;

  height: auto;
}
.zagli {
  font-family: segoe script;
  font-size: 2em;
  text-align: center;
  color: red;
  transform: rotate(30);
  margin-top: 10%;
  

}
h2{
  font-family: segoe script;
  font-size: 1.5em;
  text-align: left;
  color: #0000FF;
  transform: rotate(30);
  margin-top: 10%;
  margin-left: 5%;

}
p.into{
   font-family: segoe script;
  font-size: 1.5em;
  text-align: left;
  color: #0000FF;
  transform: rotate(30);
  margin-top: 10%;
  margin-left: 3%;
  margin: 5%;
	
}
.info {
  border: 5px solid red;
  margin-left: 10%;
  margin-right: 10%;

  margin-bottom: 4%;
  border-radius: 25px;
}

